aiofiles==23.2.1
aiogram==3.4.1
aiohappyeyeballs==2.6.1
aiohttp==3.9.5
aiosignal==1.4.0
alabaster==1.0.0
annotated-types==0.7.0
attrs==26.1.0
babel==2.18.0
certifi==2026.2.25
charset-normalizer==3.4.6
docutils==0.22.4
et_xmlfile==2.0.0
frozenlist==1.8.0
geographiclib==2.1
geopy==2.4.1
idna==3.11
imagesize==2.0.0
Jinja2==3.1.6
magic-filter==1.0.12
MarkupSafe==3.0.3
multidict==6.7.1
numpy==2.4.3
openpyxl==3.1.5
packaging==26.0
pandas==3.0.1
propcache==0.4.1
pydantic==2.5.3
pydantic_core==2.14.6
Pygments==2.19.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
requests==2.33.0
roman-numerals==4.1.0
six==1.17.0
snowballstemmer==3.0.1
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.6.3
yarl==1.23.0
